version: "3"

services:
  app:
    container_name: react-docker-practice
    build:
      context: .
      dockerfile: test.Dockerfile
    volumes:
      - ".:/app"
      - "/app/node_modules"
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
    stdin_open: true
    tty: true